<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-lista-heading" data-cy="ListaCreateUpdateHeading" jhiTranslate="leadsMariaApp.lista.home.createOrEditLabel">
        Create or edit a Lista
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="leadsMariaApp.lista.nomeLista" for="field_nomeLista">Nome Lista</label>
          <input type="text" class="form-control" name="nomeLista" id="field_nomeLista" data-cy="nomeLista" formControlName="nomeLista" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="leadsMariaApp.lista.dataCadastro" for="field_dataCadastro">Data Cadastro</label>
          <div class="input-group">
            <input
              id="field_dataCadastro"
              data-cy="dataCadastro"
              type="text"
              class="form-control"
              name="dataCadastro"
              ngbDatepicker
              #dataCadastroDp="ngbDatepicker"
              formControlName="dataCadastro"
            />
            <button type="button" class="btn btn-secondary" (click)="dataCadastroDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
